* {
  font-size: 1.1rem;
}

html, body {
  min-height: 100%;
  background: #ECECEC;
}

.App {
  text-align: center;
  margin: auto;
  max-width: 350px;
  height: 100vh;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 19px 2px rgba(173,173,173,1);
  -moz-box-shadow: 0px 0px 19px 2px rgba(173,173,173,1);
  box-shadow: 0px 0px 19px 2px rgba(173,173,173,1);
  border-radius: 10px;
  font-family: proxima-nova, sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* header section */

.header {
  background: #009BD1;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: left;
  align-items: center;
  padding: 0 1rem;
}

.critterIcon {
  width: 45%;
  height: auto;
}

/* I wnat to add font weight to the title but it removes padding for the whole app */
/* .title {
  font-weight: bold;
}; */

/* main section */

.main {
  max-width: 500px;
  padding: 0 2rem;
}

.critterPlant {
  max-width: 75%;
  height: auto;
}

.form-control {
  margin: 1rem auto;
}

button {
  background: #009BD1 !important;
  border: none !important;
  border-radius: 1rem !important;
}

input {
  background: white !important;
  border-radius: 1rem !important;
}

/* sign in section */
.sign-in {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in p {
  padding-top: 1rem;
  font-size: 0.9rem;
}

.sign-in button {
  font-size: 0.9rem;
}

/* Login Page */
.login {
  padding-top: 7rem;
}